footer {
  text-align: center;
  width: 100%;
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
}

.register-footer {
  text-align: center;
  position: relative;
  top: 80px;
  width: 100%;
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
}
