* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #e5e7eb;
}

header {
  background-color: hsl(215, 28%, 17%);
  padding: 1rem 5vw 5vw 5vw;
}

header .sec1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

header .sec1 ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0;
}

header .sec1 li {
  font-size: 18px;
  transition: 0.5s;
  text-align: center;
}

header .sec1 li:hover {
  box-shadow: 0 0 0 1px hsl(200, 100%, 50%);
  padding: 0.5rem;
  background-color: hsl(215, 28%, 35%);
  cursor: pointer;
  padding: 0.3rem;
}

header .sec2 img {
  display: none;
}

header .sec2 h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

header .sec2 div {
  background-color: #3882f6;
  width: 6.5rem;
  height: auto;
  border-radius: 5px;
  text-align: center;
  padding: 2px 1px;
}

.reduced-logo {
  width: 40vw;
  max-width: 220px;
  height: auto;
  transition: 2s;
}

header picture {
  width: 0vw;
}

.reduced-logo:hover {
  transform: rotateY(360deg);
}

@media screen and (min-width: 768px) {
 
  header .sec1 li {
    text-align: center;
   gap: 5vw;
  }

  header .sec1 li:hover {
    cursor: pointer;
    padding: 0.3rem;
  }

  
}

@media screen and (min-width: 1024px) {
  
  header .sec1 ul {
    display: flex;
    flex-direction: row;
    gap: 5vw;
  }
  
  header .sec1 li {
    font-size: 18px;
    transition: 0.5s;
    width: 21vw;

  }

  header .sec1 li:hover {
    padding: 0.5rem;
  }

  header .sec2 {
    display: flex;
    gap: 3vw;
  }

  header .sec2 h1 {
    width: 50vw;
    height: auto;
  }

  header .sec2 p {
    font-size: 18px;
    margin-bottom: 10px;
    width: 50vw;
    height: auto;
  }

  header .sec2 img {
    display: flex;
    width: 33vw;
    height: auto;
  }

  .reduced-logo {
    width: 12vw;   
  }

}
/*------------------------------------------------------PAGES-HEADER------------------------------------------------------*/
.pages-header {
  display: flex;
  justify-content: space-between;
   background-color: hsl(215, 28%, 17%);
  padding: 1rem 2rem;
}

.pages-header picture{
  width: 0vw;
}

.pages-header ul {
  flex-direction: column;
}

.pages-header ul li {
  text-align: center;
  width: 21vw;
}

.pages-header ul li:hover {
  font-size: 18px;
  transition: 0.5s;
  cursor: pointer;
  padding: 0.3rem;
}

.pages-header ul li:hover {
  box-shadow: 0 0 0 1px hsl(200, 100%, 50%);
  padding: 0.5rem;
  background-color: hsl(215, 28%, 35%);
}

@media screen and (min-width: 1024px) {

  .pages-header img {
    width: 9rem;
  }
  
  .pages-header ul {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .pages-header ul li {
    font-size: 18px;
    transition: 0.5s;
  }
  
  .pages-header ul li:hover {
    box-shadow: 0 0 0 1px hsl(200, 100%, 50%);
    padding: 0.5rem;
    background-color: hsl(215, 28%, 35%);
  }
  
}