@import url('./header.css');
@import url('./footer.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

main h1 {
  position: relative;
  top: 10px;
  text-align: center;
  color: black;
}

.register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 42.5%;
  width: 280px;
  gap: 15px;
  margin-top: 20px;
}

.register-input-group {
  display: flex;
  flex-direction: column;
}

.register-input-group label {
  color: black;
}

.register-section input {
  font-size: 1.25rem;
  padding: 0.5em;
  background-color: hsl(215, 28%, 35%);
  border: none;
  outline: none;
  border-radius: 0.25em;
  color: white;
  font-weight: lighter;
  transition: 0.5s;
}
.register-section input:focus {
  box-shadow: 0 0 0 1px hsl(200, 100%, 50%);
}

.btn {
  cursor: pointer;
}

.btn:hover,.btn:focus {
  background-color: hsl(215, 28%, 50%);
}

@media (max-width: 1877px) {
  .reduced-logo {
    margin-top: 15px;
    margin-left: 20px;
  }

  .register-header {
    gap: 32rem;
  }

  .register-header ul {
    width: 40vw;
    top: 25px;
  }

  .register-header ul li {
    text-align: center;
    width: 10vw;
  }

  .register-header ul li:hover {
    cursor: pointer;
    padding: 0.3rem;
  }
  .register-section {
    margin-left: 42%;
  }
}

@media (max-width: 1677px) {
  .reduced-logo {
    margin-top: 15px;
    margin-left: 20px;
  }

  .register-header {
    gap: 32rem;
  }

  .register-header ul {
    width: 40vw;
    top: 25px;
  }

  .register-header ul li {
    text-align: center;
    width: 10vw;
  }

  .register-header ul li:hover {
    cursor: pointer;
    padding: 0.3rem;
  }
  .register-section {
    margin-left: 41%;
  }
}

@media (max-width: 1477px) {
  .reduced-logo {
    margin-top: 15px;
    margin-left: 20px;
  }

  .register-header {
    gap: 32rem;
  }

  .register-header ul {
    width: 40vw;
    top: 25px;
  }

  .register-header ul li {
    text-align: center;
    width: 10vw;
  }

  .register-header ul li:hover {
    cursor: pointer;
    padding: 0.3rem;
  }
  .register-section {
    margin-left: 40%;
  }
}

@media (max-width: 1200px) {
  .reduced-logo {
    margin-top: 15px;
    margin-left: 20px;
  }

  .register-header {
    gap: 26rem;
  }

  .register-header ul {
    width: 43vw;
    top: 25px;
  }

  .register-header ul li {
    text-align: center;
    width: 10vw;
  }

  .register-header ul li:hover {
    cursor: pointer;
    padding: 0.3rem;
  }
  .register-section {
    margin-left: 38%;
  }
}

@media (max-width: 1024px) {
  .reduced-logo {
    margin-top: 15px;
    margin-left: 120px;
  }

  .register-header {
    gap: 16rem;
  }

  .register-header ul {
    flex-direction: column;
    top: 0px;
    width: 20vw;
  }
  .register-header ul li {
    text-align: center;
    width: 21vw;
  }
  .register-header ul li:hover {
    cursor: pointer;
    padding: 0.3rem;
  }

  .register-section {
    margin-left: 35%;
  }
}

@media (max-width: 768px) {
  .reduced-logo {
    margin-top: 15px;
    margin-left: 50px;
  }

  .register-header {
    gap: 5rem;
  }

  .register-header ul {
    flex-direction: column;
    top: 0px;
  }
  .register-header ul li {
    text-align: center;
    width: 21vw;
  }
  .register-header ul li:hover {
    cursor: pointer;
    padding: 0.3rem;
  }

  .register-section {
    margin-left: 25%;
  }
}
