@import url('./header.css');
@import url('./footer.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

main h1 {
  position: relative;
  top: 10px;
  text-align: center;
  color: black;
}

.register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 42.5%;
  width: 280px;
  gap: 15px;
  margin-top: 20px;
}

.register-input-group {
  display: flex;
  flex-direction: column;
}

.register-input-group label {
  color: black;
}

.register-section input {
  font-size: 1.25rem;
  padding: 0.5em;
  background-color: hsl(215, 28%, 35%);
  border: none;
  outline: none;
  border-radius: 0.25em;
  color: white;
  font-weight: lighter;
  transition: 0.5s;
}
.register-section input:focus {
  box-shadow: 0 0 0 1px hsl(200, 100%, 50%);
}

.btn {
  cursor: pointer;
}

.btn:hover,.btn:focus {
  background-color: hsl(215, 28%, 50%);
}

@media (max-width: 1024px) {
  .register-section {
    margin-left: 35%;
  }
}

@media (max-width: 768px) {
  .register-section {
    margin-left: 25%;
  }
}
