@import url('./header.css');
@import url('./footer.css');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: auto;
}

main .section1 {
  padding: 0.5rem 10rem;
}

main .section1 h3 {
  font-size: 38px;
  font-weight: bolder;
  text-align: center;
  color: #1f2937;
  padding: 1rem 0;
}
main .section1 ul {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}
main .section1 img {
  width: 15vw;
  height: 240px;
  border: #3882f6 2px solid;
}

main .section1 p {
  color: #1f2937;
  font-size: 18px;
  margin: 1rem 0;
}

main .section2 {
  background-color: #e5e7eb;
  padding: 8rem;
  text-align: center;
}
main .section2 .quote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}
main .section2 .sign {
  color: #1f2937;
  font-weight: bold;
  text-align: right;
}

main .section3 {
  background-color: #3882f6;
  margin: 3vw 10vw;
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
}
main .section3 div {
  border: #e5e7eb 2px solid;
  background-color: #3882f6;
  width: 6.5rem;
  height: 2rem;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  padding: 2px 0;
}


@media (max-width: 1024px) {
  main .section1 img {
    width: 30vw;
    height: 360px;
    border: #3882f6 2px solid;
  }

  main .section2{
    padding: 3rem ;
  }
 
  main .section2 .sign {
    width: 9
  }
  main .section3 div {
    width: 5.5rem;
    height: 2rem;
  }

  main .section3 article {
    width: 40vw;
   }
}

@media (max-width: 768px) {

  main .section1{
    padding: 0;
  }
  main .section1 ul{
    text-align: center;
    display: block;
    padding-bottom: 1rem;
  }

  main .section1 img {
    width: 40vw;
    height: fit-content;
    border: #3882f6 2px solid;
  }

  main .section3 div {
    margin-top: 1rem;
    width: 5.5rem;
    height: 2rem;
  }
  main .section3 article {
   width: 50vw;
  }
}
